
ErrorDocument 404 https://arula.zazcompany.com
ErrorDocument 403 https://arula.zazcompany.com
ErrorDocument 500 https://arula.zazcompany.com

Options -Indexes


RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
